.sub-nav{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.788);
    top: 14rem;
    width: 100%;
    box-shadow: 0 0 20px rgba(224, 210, 210, 0.5);

}
.sub-links{
    height: 5rem;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
   
}
.sub-nav-links{
    width: 15%;
    padding-top: 1.2rem;
    /* text-align: center; */
    /* border: 2px solid #0fa8e4; */
    /* border-radius: 50px; */
    /* border-bottom: 3px solid red; */
   text-decoration:none;
   /* color: #e40f0fea; */
   color: #0fa8e4;
   display: block;   
}
/* .sub-nav-links li{
    width: 50%;
    border-bottom: 1px solid red;
} */
div.bottom {
    position: relative;
    left: 35%;
    bottom: 0;
    height: 5px;
    width: 35%;
    border-bottom: 3px solid #0fa8e4;
  }
.sub-links .active div.bottom{
    border-bottom: 5px solid #e40f0fea;
  }
@media (max-width: 998px) {
    .sub-nav-links{
        padding-top: 1.4rem;
    }
    .sub-nav-links li{
        font-size: smaller;
    }

    div.bottom {
        left: 25%;
        width: 50%;
        border-bottom: 3px solid #0fa8e4;
      }
}
